<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tevinjeffrey.vapor" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.tevinjeffrey.vapor.VaprApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Vapr_Default"
        tools:replace="android:icon,android:label" >
        <meta-data
            android:name="DATABASE"
            android:value="synced_items.db" />
        <meta-data
            android:name="VERSION"
            android:value="7" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.tevinjeffrey.vapor.okcloudapp.model" />

        <activity
            android:name="com.tevinjeffrey.vapor.ui.files.FilesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tevinjeffrey.vapor.ui.login.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.tevinjeffrey.vapor.services.IntentBridge"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <service
            android:name="com.tevinjeffrey.vapor.services.UploadService"
            android:exported="false"
            android:label="@string/app_name" >
        </service>

        <activity
            android:name="com.tevinjeffrey.vapor.ui.ImageActivity"
            android:label="@string/title_activity_image"
            android:theme="@style/Vapr_Fullscreen" >
        </activity>
    </application>

</manifest>
